#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1024px;
	height:768px;
}

#productx20pagex20div-01_ {
	position:absolute;
	left:0px;
	top:0px;
	width:125px;
	height:120px;
}

#productx20pagex20div-02_ {
	position:absolute;
	left:125px;
	top:0px;
	width:649px;
	height:97px;
}

#productx20pagex20div-03_ {
	position:absolute;
	left:774px;
	top:0px;
	width:70px;
	height:27px;
}

#productx20pagex20div-04_ {
	position:absolute;
	left:844px;
	top:0px;
	width:57px;
	height:27px;
}

#productx20pagex20div-05_ {
	position:absolute;
	left:901px;
	top:0px;
	width:20px;
	height:120px;
}

#productx20pagex20div-06_ {
	position:absolute;
	left:921px;
	top:0px;
	width:90px;
	height:27px;
}

#productx20pagex20div-07_ {
	position:absolute;
	left:1011px;
	top:0px;
	width:13px;
	height:120px;
}

#productx20pagex20div-08_ {
	position:absolute;
	left:774px;
	top:27px;
	width:127px;
	height:93px;
}

#productx20pagex20div-09_ {
	position:absolute;
	left:921px;
	top:27px;
	width:90px;
	height:93px;
}

#productx20pagex20div-10_ {
	position:absolute;
	left:125px;
	top:97px;
	width:42px;
	height:23px;
}

#productx20pagex20div-11_ {
	position:absolute;
	left:167px;
	top:97px;
	width:90px;
	height:23px;
}

#productx20pagex20div-12_ {
	position:absolute;
	left:257px;
	top:97px;
	width:86px;
	height:23px;
}

#productx20pagex20div-13_ {
	position:absolute;
	left:343px;
	top:97px;
	width:27px;
	height:23px;
}

#productx20pagex20div-14_ {
	position:absolute;
	left:370px;
	top:97px;
	width:142px;
	height:23px;
}

#productx20pagex20div-15_ {
	position:absolute;
	left:512px;
	top:97px;
	width:262px;
	height:23px;
}

#productx20pagex20div-16_ {
	position:absolute;
	left:0px;
	top:120px;
	width:1024px;
	height:43px;
}

#productx20pagex20div-17_ {
	position:absolute;
	left:0px;
	top:163px;
	width:77px;
	height:481px;
}

#productx20pagex20div-18_ {
	position:absolute;
	left:77px;
	top:163px;
	width:180px;
	height:206px;
}

#productx20pagex20div-19_ {
	position:absolute;
	left:257px;
	top:163px;
	width:46px;
	height:481px;
}

#productx20pagex20div-20_ {
	position:absolute;
	left:303px;
	top:163px;
	width:180px;
	height:206px;
}

#productx20pagex20div-21_ {
	position:absolute;
	left:483px;
	top:163px;
	width:45px;
	height:481px;
}

#productx20pagex20div-22_ {
	position:absolute;
	left:528px;
	top:163px;
	width:180px;
	height:206px;
}

#productx20pagex20div-23_ {
	position:absolute;
	left:708px;
	top:163px;
	width:46px;
	height:481px;
}

#productx20pagex20div-24_ {
	position:absolute;
	left:754px;
	top:163px;
	width:180px;
	height:206px;
}

#productx20pagex20div-25_ {
	position:absolute;
	left:934px;
	top:163px;
	width:90px;
	height:481px;
}

#productx20pagex20div-26_ {
	position:absolute;
	left:77px;
	top:369px;
	width:180px;
	height:35px;
}

#productx20pagex20div-27_ {
	position:absolute;
	left:303px;
	top:369px;
	width:180px;
	height:35px;
}

#productx20pagex20div-28_ {
	position:absolute;
	left:528px;
	top:369px;
	width:180px;
	height:35px;
}

#productx20pagex20div-29_ {
	position:absolute;
	left:754px;
	top:369px;
	width:180px;
	height:35px;
}

#productx20pagex20div-30_ {
	position:absolute;
	left:77px;
	top:404px;
	width:180px;
	height:206px;
}

#productx20pagex20div-31_ {
	position:absolute;
	left:303px;
	top:404px;
	width:180px;
	height:206px;
}

#productx20pagex20div-32_ {
	position:absolute;
	left:528px;
	top:404px;
	width:180px;
	height:206px;
}

#productx20pagex20div-33_ {
	position:absolute;
	left:754px;
	top:404px;
	width:180px;
	height:206px;
}

#productx20pagex20div-34_ {
	position:absolute;
	left:77px;
	top:610px;
	width:180px;
	height:34px;
}

#productx20pagex20div-35_ {
	position:absolute;
	left:303px;
	top:610px;
	width:180px;
	height:34px;
}

#productx20pagex20div-36_ {
	position:absolute;
	left:528px;
	top:610px;
	width:180px;
	height:34px;
}

#productx20pagex20div-37_ {
	position:absolute;
	left:754px;
	top:610px;
	width:180px;
	height:34px;
}

#productx20pagex20div-38_ {
	position:absolute;
	left:0px;
	top:644px;
	width:1024px;
	height:124px;
}